@import url("https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import "./styles/modalForm.scss";
@import "./styles/header.scss";
@import "./styles/aside.scss";
@import "./styles/section.scss";
/*global*/
$light-white:#eaeaea8f;
$light_white-border:#00000033;
body{
  box-sizing: border-box;
  background-color:#d2c7c2;;
}

.container{
  margin-top:80px;
}
.recipe-wrapper{
  display:grid;
  grid-template-columns: auto auto auto auto;
}
textarea {
  resize: none;
  height:auto;
}
.aside-list li:first-letter,
.section-header h3,
.section-list li{
  text-transform: capitalize;
}
span{
  cursor:pointer;
}


